<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="resourceLoader" class="org.springframework.core.io.DefaultResourceLoader" />-->

    <bean id="questionDao" class="ru.otus.spring.dao.QuestionDaoCsv">
        <constructor-arg index="0" value="/quiz.csv" />
    </bean>

    <bean id="questionPrinterService" class="ru.otus.spring.service.QuestionPrinterServiceImpl">
        <constructor-arg index="0" ref="questionDao" />
    </bean>


<!--    <bean id="personDao" class="ru.otus.spring.dao.PersonDaoSimple">-->
<!--    </bean>-->

<!--    <bean id="personService" class="ru.otus.spring.service.PersonServiceImpl">-->
<!--        <constructor-arg index="0" ref="personDao"/>-->
<!--    </bean>-->

</beans>
