<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="questionDao" class="ru.otus.spring.dao.QuestionDaoCsv">
        <constructor-arg index="0" value="/quiz.csv" />
    </bean>

    <bean id="questionPrinterService" class="ru.otus.spring.service.QuestionPrinterServiceImpl">
        <constructor-arg index="0" ref="questionDao" />
        <constructor-arg index="1">
            <util:constant static-field="java.lang.System.out" />
        </constructor-arg>

    </bean>

</beans>
